/* this css file will only style the homepage of our site */

#my-portrait {
  border: solid 3px #8C2155;
  border-radius: 10px;
  max-width: 200px;
  max-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p, ul {
  color: #5C1A1B;
}

h2 {
  color: #8C2155;
}

h1 {
  color: #E1CE7A;
  text-align: center;
  text-shadow: -2px -2px #8C2155;
  margin: 10px;
}


#content {
  background-color: #1AC8ED;
}

.minor-section {
  background-color: #AED4E6;
}

h2, p, ul {
  margin: 20px;
}