/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: dotted 3px #90708C;
    background-color: #ACE4AA;
    border-radius: 5px;
  }

#car-pic {
  width: 40%;
}

#content {
  background-color: #E1CDB5;
  border: solid 3px #90708C;
  border-radius: 5px;
}

.right {
  display:block;
  text-align: right;
}

p {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  text-align: center;
}

h1, h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}