/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 3px #4D2D52;
    background-color: #F08CAE;
    color:#1D1A31;
  }

#content {
  border: dotted 5px #4D2D52;
  background-color: #9A4C95;
  color: #1D1A31;
}

a {
  color: #F08CAE;
}

.right {
  display:block;
  text-align: right;
}

#car-pic {
  width: 40%;
}
