.right {
    display:block;
    text-align: right;
}

.griffindor #results {
  border: solid 3px rgb(209, 0, 0);
  background-color: rgb(231, 75, 51);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.slytherin #results {
  border: solid 3px green;
  background-color: rgb(23, 163, 67);
  padding: 10px;
  margin-bottom: 10px;
}

.hufflepuff #results {
  border: solid 3px yellow;
  background-color: rgb(255, 245, 111);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.ravenclaw #results {
  border: solid 3px blue;
  background-color: rgb(98, 120, 248);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}
  
body {
  background-color: #3E5641;
  color: #282B28;
}
  
#content {
  background-color: #D36135;
  border: solid 3px #A24936;
}
  
.minor-section {
  background-color: #E1CE7A;
  border: solid 3px #A24936;
  border-radius: 3px;
}